# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
.env
*.env

# VS Code
.vscode/

# Compiled Files
*.out
*.exe
*.dll
*.so

# Data Files
*.csv

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/.cxx
android/app/debug
android/app/profile
android/app/release
*.flutter-plugins
*.flutter-plugins-dependencies
*.metadata
